.card {
  background-color: #2d2d2d;
  box-shadow: 0px 0px 4px 1px rgb(59, 59, 59);
  color: white;
  margin-bottom: 3rem;
  img,
  iframe {
    max-width: 95%;
    max-height: 95%;
  }
  &__title {
    text-align: center;
    font-weight: 500;
    padding-top: 2rem;
    padding-bottom: 1rem;
    overflow-wrap: break-word;
  }
  &__image {
    width: 29rem;
    display: block;
    flex-direction: column;
    margin: auto;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
    cursor: zoom-in;
    &--clicked {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      align-items: center;
      justify-content: center;
      height: auto;
      object-fit: contain;
      cursor: zoom-out;
    }
  }
  &__iframe {
    width: 29rem;
    height: 20rem;
    display: block;
    flex-direction: column;
    margin: auto;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
  }
  &__image-wrapper--clicked {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: rgb(17, 17, 17);
  }

  &__like-button {
    font-size: 1rem;
    height: 2rem;
    width: 5rem;
    margin-left: 3rem;
    margin-top: 2rem;
    background-color: white;
    border-radius: 3px;
    border-style: solid;
    border-color: rgb(73, 73, 73);
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);

    &:hover {
      background-color: rgb(73, 73, 73);
      color: rgb(255, 255, 255);
      border-color: white;
    }
  }

  &__explanation {
    text-align: left;
    flex-direction: column;
  }

  &__date {
    text-align: right;
    margin-right: 3rem;
    padding-bottom: 2rem;
    color: rgba(255, 255, 255, 0.808);
    font-weight: 600;
  }
}
